.side {
  padding: 1rem;
  background-color: #f8f8f8;
}

.side + .side {
  padding-top: 1rem;
}

.content {
  background-color: #fff;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.title {
  padding-left: 1rem;
  padding-top: 1rem;
}
